.page-buttons-container {
    height: 9%;
    //  104px;
    flex-shrink: 0;
    width: 100%;
  
    .page-buttons {
      position: relative;
      width: 100%;
      height: 100%;
      .prev-page {
        cursor: pointer;
        position: absolute;
        right: 50%;
        margin-right: 3.656em;
        .prev-button {
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .locked-button {
        position: absolute;
        left: 50%;
        margin-left: 3.656em;
        opacity: 0.5;
        transform: none;
        pointer-events: none;
        cursor: none;
      }
      .no-button {
        display: none;
      }
      .next-page {
        cursor: pointer;
        position: absolute;
        left: 50%;
        margin-left: 3.656em;
  
        .next-button {
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }