.second-page {
    height: 100%;
    position: relative;
    overflow: hidden;
    .second-page-logo {
      position: absolute;
      height: 892px;
      width: 949px;
      left: 851px;
      top: 0;
      @media only screen and (max-width: 1919px) {
        position: absolute;
        height: 892px;
        width: 949px;
        left: 43%;
        top: 0;
      }
  
      @media only screen and (max-width: 1440px) {
        position: absolute;
        height: 592px;
        width: 649px;
        left: 50%;
        top: 0;
      }
      @media only screen and (max-width: 1224px) {
        position: absolute;
        height: 492px;
        width: 449px;
        left: 55%;
        top: -50px;
      }
      @media only screen and (max-width: 1024px) {
        position: absolute;
        height: 392px;
        width: 349px;
        left: 55%;
        top: -50px;
      }
      @media only screen and (max-width: 786px) {
        position: absolute;
        height: 292px;
        width: 249px;
        left: 55%;
        top: -40px;
      }
      @media only screen and (max-width: 480px) {
        position: absolute;
        height: 192px;
        width: 149px;
        left: 50%;
        top: 0;
      }
    }
    .second-page-components {
      margin: 0em 12.5em;
      max-width: 596px;
  
      @media only screen and (max-width: 1224px) {
        margin: 0em 6em;
        max-width: 596px;
      }
      @media only screen and (max-width: 768px) {
        margin: 0em 2em;
        max-width: 596px;
      }
    }
  }
  .react-datepicker-wrapper {
    height: 100px;
    .react-datepicker__input-container {
      height: 100%;
      .react-datepicker-ignore-onclickoutside {
        height: 100%;
        color: #232323;
  
        height: 50px;
        padding: 0rem 1.25em;
        line-height: 1.375em;
  
        background-color: #c4c4c400;
  
        width: 513px;
      }
    }
  }
  .first-question-content,
  .second-question-content {
    display: flex;
    flex-direction: column;
    margin-top: 2.125em;
  
    .inputs-container {
      .radio-label-wrapper {
        // margin-bottom: 1.25em;
        display: flex;
  
        align-items: end;
        // padding: 0em 1.375em;
  
        .first-question-radios {
          background-color: #232323;
          height: 1.875em;
          width: 1.875em;
        }
        .input-label {
          line-height: 1.509rem;
          color: #000000;
          padding-left: 0.594em;
          font-weight: 400;
          font-size: 1.25rem;
          vertical-align: middle;
        }
      }
    }
    @media only screen and (max-width: 1440px) {
      display: flex;
      flex-direction: column;
      margin-top:1em;
    }
    @media only screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      margin-top: 1em;
    }
    @media only screen and (max-width: 768) {
      display: flex;
      flex-direction: column;
      margin-top: 2.125em;
    }
  }
  .second-question-content {
    margin-top: 1.625em;
    @media only screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      margin-top: 3.125em;
    }
    @media only screen and (max-width: 768) {
      display: flex;
      flex-direction: column;
      margin-top: 2.125em;
    }
  }
  
  .content-hidden {
    display: none;
  }
  
  .third-question-content {
    margin-top: 1.625em;
    .inputs-container {
      margin-left: 1.375em;
      .date-input-container {
        margin-bottom: 1.563em;
        .date-input {
          color: #232323;
          font-weight: 400;
          font-size: 1.125rem;
          height: 50px;
          padding: 0rem 1.25em;
  
          line-height: 1.375em;
          letter-spacing: 0em;
          background-color: #c4c4c400;
          border: 0.8px solid #232323;
          width: 513px; //26.71%;
        }
      }
  
      .number-input-container {
        .number-input {
          //  color: rgb(105, 105, 105);
          color: #232323;
          font-weight: 400;
          font-size: 1.125rem;
          height: 50px;
          padding: 0rem 1.25em;
  
          line-height: 1.375em;
          letter-spacing: 0em;
          background-color: #c4c4c400;
          border: 0.8px solid #232323;
          max-width: 513px; //26.71%;
          width: 60vw;
          min-width: 270px;
          outline: none;
        }
      }
    }
    @media only screen and (max-width: 1024px) {
      margin-top: 3.125em;
    }
    @media only screen and (max-width: 400px) {
      margin-top: 1.125em;
    }
  }
  .question-texts {
    color: #232323;
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0.875em;
    line-height: 1.688em;
    @media only screen and (max-width: 1024px) {
      margin-bottom: 1.875em;
    }
    @media only screen and (max-width: 768px) {
      margin-bottom: 0.875em;
     
    }
    @media only screen and (max-width: 480px) {
      margin-bottom: 0.875em;
      max-width: 270px;
    }
    @media only screen and (max-width: 400px) {
    margin-bottom: 0.3em;
      max-width: 270px;
    }
  }
  
  .material-input {
    max-width: 513px !important; //26.71%;
    width: 60vw !important;
    min-width: 270px !important;
    
  
    height: 50px;
    .MuiInputBase-root {
      .MuiInputBase-input {
        border: 0.8px solid #232323 !important;
        // color: rgb(105, 105, 105);
        color: #232323;
        font-weight: 400;
        font-size: 1.125rem;
        height: 50px;
        padding: 0rem 1.25em;
        line-height: 1.375em;
        letter-spacing: 0em;
        background-color: #c4c4c400;
        border: 0.8px solid #232323;
      }
    }
  }
  
  .MuiButtonBase-root {
    padding: 0;
  }
  
  .MuiSvgIcon-root {
    font-size: 1.8rem !important;
  }